body{
    font: 20px arial;
}

.navbar {
    background-color: rgb(150, 211, 10);
}

ul{
    list-style-type: none;
}

li{
    margin-bottom: 5px;
}

.sobre{
    color: rgb(0, 0, 0);
}

.alinhamento{
    text-align: center;
}

.img{
   border-radius: 50%;
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

.tecnologias{
    background-color: rgb(114, 114, 209);
    color: white;
}

.bg-footer{
    background-color: black;
    color: white;
}